.signin-page h1 {
  color: var(--light-theme-font-color);
  transition: color 2s ease;
}

#dark-theme .signin-page h1 {
  color: var(--dark-theme-font-color);
}

.signin-page .btn {
  font-size: 16px;
  color: var(--dark-theme-font-color);
  background: var(--dark-theme-background);
  border-radius: 15px;
  padding: 10px 19px;
}

.signin-page .btn:hover:not(:disabled) {
  color: var(--light-theme-font-color);
  background: var(--light-theme-nav-hover-color);
}

.signin-page .btn:disabled {
  background: var(--light-theme-nav-hover-color);
}

#dark-theme .signin-page .btn:hover:not(:disabled) {
  background: var(--dark-theme-nav-hover-color);
  color: var(--dark-theme-font-color);
}
