header {
  display: flex;
  justify-content: space-around;
  min-height: 50px;
  align-items: center;
  top: 0;
  z-index: 10;
  position: sticky;
}

header .logo {
  margin: auto;
}

#light-theme header {
  background-color: var(--light-theme-background);
}

#dark-theme header {
  background-color: var(--dark-theme-background);
}

.logo img {
  width: 200px;
}

@media (min-width: 768px) {
  header {
    min-height: 60px;
  }

  .hamburger-menu {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  header .logo {
    margin: 0;
  }

  .logo img {
    width: 300px;
  }
}
