header {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
  top: 0;
  z-index: 10;
  position: sticky;
  padding: 0 20px;
}

#light-theme header {
  background-color: var(--light-theme-background);
  border-bottom: solid 1px #f2f2f2;
}

#dark-theme header {
  background-color: var(--dark-theme-background);
}

.logo img {
  width: 200px;
}

.mobile-nav {
  margin: auto;
}

.mobile-nav nav {
  display: flex;
  flex-direction: column;
}

.mobile-nav nav a,
.mobile-nav nav .logout-button {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

#light-theme .mobile-nav nav a,
.mobile-nav nav .logout-button {
  color: var(--light-theme-font-color);
}

#dark-theme .mobile-nav nav a,
#dark-theme .mobile-nav nav .logout-button {
  color: var(--dark-theme-font-color);
}

#dark-theme .hamburger-menu svg {
  color: var(--dark-theme-font-color);
}

#dark-theme .modal-close svg {
  color: var(--dark-theme-font-color);
}

.mobile-nav .dark_mode_wrapper {
  display: none;
}

.hamburger-menu,
button.modal-close {
  border: none;
  background: none;
}

button.modal-close {
  align-self: flex-end;
}

@media (min-width: 768px) {
  header {
    justify-content: space-around;
  }

  header > .dark_mode_wrapper {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  .logo img {
    width: 300px;
  }
}
