:root {
  --light-theme-background: #e4e6eb;
  --dark-theme-background: #242526;

  --dark-theme-app: rgba(36, 37, 38, 0.9);

  --light-theme-font-color: black;
  --dark-theme-font-color: white;

  --light-theme-nav-hover-color: rgba(197, 199, 201);
  --dark-theme-nav-hover-color: rgba(246, 247, 249, 0.05);
}

body,
html,
#root,
.App {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

.d-none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.loading-wrapper {
  display: flex;
  position: fixed;
  /* width: 100%; */
  left: 0;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--dark-theme-background);
  opacity: 0.5;
  z-index: 40;
}

/*All theme related transitions will go here*/
.App,
header,
a,
button,
footer,
p {
  transition: all 2s ease;
  transition-property: color, background-color, border-color;
}

#light-theme {
  color: var(--light-theme-font-color);
}

#dark-theme {
  color: var(--dark-theme-font-color);
}

#light-theme .standard-btn {
  color: var(--light-theme-font-color);
}

.standard-btn {
  font-size: 16px;
  color: var(--dark-theme-font-color);
  background: var(--dark-theme-background);
  border-radius: 15px;
  padding: 10px 19px;
}

.standard-btn:hover {
  color: var(--light-theme-font-color);
  background: var(--light-theme-nav-hover-color);
}

#dark-theme .standard-btn:hover {
  background: var(--dark-theme-nav-hover-color);
  color: var(--dark-theme-font-color);
}
