.select-input {
  margin-bottom: 1.5rem;
  text-align: left;
}

.select-input label {
  font-weight: bold;
  margin-right: 1rem;
}

.select-input select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding: 10px;
  text-transform: capitalize;
}

.select-input select option {
  text-transform: capitalize;
}

select.field-error {
  border-color: red;
}

select:focus {
  border: 1px solid var(--secondary);
}

.form-error-message {
  color: red;
}
